GEMINI_API_KEY=your_gemini_api_key_here

ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=your_primary_key_here
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=your_deterministic_key_here
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=your_salt_here

# SerpAPI integration for RAG Architecture
SERP_API_KEY=your_serp_api_key_here

# Allegro REST API (Integration)
ALLEGRO_CLIENT_ID=your_id_here
ALLEGRO_CLIENT_SECRET=your_secret_here
ALLEGRO_ENV=sandbox

# IP Geolocation API
IPGEOLOCATION_API_KEY=your_key_here

ANALYTICS_USER_ID=your_id_here
ANALYTICS_SECRET_KEY=your_secret_here
